extends ../template
block content
    h1 Lịch Sử Chi Tiêu
    a.btn.btn-primary(href='/home/create' role='button') Create
    a.btn.btn-primary.ml-5(href='/auth/logout' role='button') LogOut
    a.btn.btn-primary.ml-5(href='/chart' role='button') Báo Cáo
    br
    br
    table.table
        tr
            th Money
            th Danh Mục
            th Thể Loại
            th Thời Gian
            th Ghi Chú
            th Sửa
            th &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Xoá
        each spend in spends
            tr
                td=spend.money
                td=spend.danhMuc
                td=spend.theLoai
                td=`${spend.date.getDate()}/${spend.date.getMonth()}/${spend.date.getFullYear()}--${spend.date.getHours()}:${spend.date.getMinutes()}`
                td=spend.ghiChu
                td
                    a.btn.btn-info(href="/home/edit/" + spend._id) ...
                td
                    a.btn.btn-danger.ml-5(href='/home/delete/'+spend._id role='button') x

